@media screen and (max-width: 400px) {
    .repeat {
        display: flex;
        flex-direction: column;
        background-color: blue;
        width: 100%;
    }
    .product-container {    
        padding-bottom: 20px;
        background-color: white;
    }
    .product-card {
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        background-color: grey;
        align-items: center;
        margin: auto;
        width: 90%;
    }
    .product-image {
        padding-left: 10px;
        padding-right: 20px;
    }

}